<%- include('partials/header'); -%>
<body>
    <div class="container ">
        <h1>Link Shortner</h1>
        <form action="/shorturls" method="POST">
            <input type="url" name="fullUrl" placeholder="URL" required id="fullUrl">
            <button type="submit">shrink</button>
        </form>
        <table class="border-separate border border-green-800 w-full text-md bg-white shadow-md rounded mb-4 ">
            <thead>
                <tr class="border-b text-left">
                    <th>Full URL</th>
                    <th>Short URL</th>
                    <th>Clicks</th>
                </tr>
            </thead>
            <tbody>
                <% shorturl.forEach(shorturl => { %>
                    <tr class="text-left">
                        <td><a href="<%= shorturl.full%>"><%= shorturl.full%></a></td>
                        <td><a href="<%= shorturl.short%>"><%= shorturl.short%></a></td>
                        <td><%= shorturl.clicks%></td>
                    </tr>
                <% }) %>
                <!-- <tr>
                    <td><a href="jumbodaniel.xyz"></a>jumbodaniel.xyz</td>
                    <td><a href="/12456">12456</a></td>
                    <td>10</td>
                </tr> -->
            </tbody>
        </table>
</div>
</body>
</html>